
SERVER_PORT=5000

DB_HOST=localhost
DB_PORT=4321
DB_USER=postgres
DB_PASSWORD=123456
DB_NAME=projectrun

DB_URL="postgres://postgres:123456@localhost:4321/projectrun?schema=public"

JWT_SECRET=SomeRandomLongTextWhichContainsLettersAndNumbers
JWT_EXPIRES_IN=1d
